.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f1ee;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.login-header h1 {
    color: #473C33;
    margin: 10px 0;
    font-size: 28px;
}

.login-header p {
    color: #666;
    margin-bottom: 25px;
}

.logo-temp {
    font-size: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form label {
    color: #473C33;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-form input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s;
}

.login-form input:focus {
    border-color: #ABC270;
}

.btn-entrar {
    background-color: #ABC270;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover {
    filter: brightness(0.9);
}

.toggle-modo {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.toggle-modo a {
    color: #FDA769;
    /* Laranja da Paleta */
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.toggle-modo a:hover {
    color: #473C33;
}
/* =========================================
   RESPONSIVIDADE (MOBILE)
   ========================================= */

@media (max-width: 480px) {
  .login-box {
    margin: 20px;
    padding: 30px 20px;
  }
}